<form class="form-inline kv-store-field control-group">
	<label>Field:</label>
	<input type="text" class="input-small" id="kv-store-field-name" placeholder="Name"></input>
	<select id="kv-store-field-type" class="input-small">
		<option value="string">String</option>
		<option value="number">Number</option>
		<option value="boolean">Boolean</option>
		<option value="time">Time</option>
		<option value="cidr">CIDR</option>
		<option value="array">Array</option>
	</select>
	<a class="btn kv-store-field-remove" href="javascript:void(0)">
		Remove
	</a>
	<span class="help-inline"></span>
</form>